.container{
  background-color: rgb(223, 220, 220);
  border-radius: 2%;
  border: 6px solid white;
  cursor: pointer;
  box-shadow: 6px 6px rgba(0, 0, 0, 0.1);
   display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-link {
  transition: all 0.3s ease;
}

.nav-link:hover {
  font-weight: bold;
  font-size: 1.15rem;
  color: black;
box-shadow: 6px 6px 16px  rgb(223, 220, 220);
background-color: rgba(255, 255, 255, 0.733);
border-radius: 10px;
}

.dropdown-item {
  transition: all 0.3s ease;
}

.dropdown-item:hover {
  font-weight: bold;
  font-size: 1.1rem;
}

