<div class="TituleContainer">
  <h1>Welcome to Lamacarena Store</h1>
  <p class="typing-text" [innerHTML]="typedHTML"></p>
</div>

<div class="FirstsloganContainer">
  <h3>The best-performing brands in the market</h3>
</div>

<div class="carousel-container">
  <div class="slide" *ngFor="let item of slides" (click)="onSlideClick(item)">
    <div class="image-container">
      <img [src]="item.image" [alt]="item.alt" class="default-img" />
      <div class="overlay">
        <img *ngIf="item.extraImage" [src]="item.extraImage" alt="Extra" class="extra-image" />
        <h2 class="overlay-text">{{ item.overlayText }}</h2>
      </div>
    </div>
  </div>
</div>



<div id="carouselPromo" class="custom-slide-carousel">
  <div class="promo-slide" style="animation-delay: 0s;">
    <img class="carousel-image" src="assets/Slogan.png" alt="Slide 1" />
  </div>
  <div class="promo-slide" style="animation-delay: 3s;">
    <img class="carousel-image" src="assets/Secondslogan.png" alt="Slide 2" />
  </div>
  <div class="promo-slide" style="animation-delay: 6s;">
    <img class="carousel-image" src="assets/TerSlogan.png" alt="Slide 3" />
  </div>
</div>


