 .header {
  background-color: rgb(219, 208, 208);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0;
  width: 100%;
}

.header-content {
  max-width: 1200px;
  max-height: 11 00px;
  margin:  auto;
  background-color: #e5dcdc;
  border-radius: 20px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo-container {
  display: flex;
  align-items: center;
   transform: translateY(-6px);
}


@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
    padding: 1rem;
    text-align: center;

  }

.typing-text {
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid black;
  animation: blink 0.7s infinite step-end;
  width: fit-content;
}

@keyframes blink {
  0%, 100% { border-color: transparent; }
  50% { border-color: black; }
}





}


