
<header class="header">
  <div class="header-top">
    <div class="logo">
      <img src="assets/logo.png" alt="Logo" />
    </div>

    <div class="search-container">
      <input type="text" placeholder="search" />
      <i class="fas fa-search"></i>
    </div>

    <div class="icons">
      <i class="fas fa-shopping-cart"></i>
      <i class="fas fa-sign-in-alt"></i>
    </div>
  </div>

  <!-- Navbar debajo -->
  <nav class="navbar">
    <a routerLink="/inicio">Inicio</a>
    <a routerLink="/productos">Productos</a>
    <a routerLink="/servicios">Servicios</a>
    <a routerLink="/contacto">Contacto</a>
  </nav>
</header>
